# app/views/keyvalues/_form.html.erb  
<fieldset>    
 	<legend>Enter your keyvalue data</legend>    
 
 	<label for="keyvalue_key">Key</label>    
 	<%= input 'keyvalue', 'key' %>  

	<label for="keyvalue_value">Value</label>    
 	<%= input 'keyvalue', 'value' %>
</fieldset>